<p>
	<h3>Instruções</h3>
</p>
<p>
	Abaixo desenvolvemos 4 calculadoras, veja qual a sua necessidade. Calcular o valor da
	prestção, taxa efetiva de juros, valor do financiamento, quantidade de meses? Após
	escolher, preencha as informações solicitadas e clique em calcular.
</p>
<p>
	Qual o valor da prestação...........? calculadora 1.
</p>
<p>
	Qual o valor do financiamento.......? calculadora 2.
</p>
<p>
	Qual o percentual da taxa de juros..? calculadora 3.
</p>
<p>
	Qual a quantidade de meses..........? calculadora 4.
</p>
