<div class="hero-unit">
	<p>
		<h1>Instruções</h1>
	</p>
	<p>
		Desenvolvemos 4 calculadoras, veja qual a sua necessidade. Calcular o valor da
		prestção, taxa efetiva de juros, valor do financiamento, quantidade de meses? Após
		escolher, preencha as informações solicitadas e clique em calcular.
	</p>
	<p>
		Calcular o valor da prestação...........?
	</p>
	<p>
		Calcular o valor do financiamento.......?
	</p>
	<p>
		Calcular o percentual da taxa de juros..?
	</p>
	<p>
		Calcular a quantidade de meses..........?
	</p>
</div>