<% provide(:title, 'Comprar a vista ou prazo') %>
<div class="hero-unit">
  <p>
  <h3>Comprar à Vista ou a Prazo?</h3>
  </p>
  <p>
    Depende dos valores que tem, da disponibilidade de desembolso e do
    desconto da Loja/Fornecedor.
  </p>

  <p>
    Desenvolvemos 4 calculadoras para te ajudar, veja qual a sua necessidade.
  </p>

  <p>
    Calcular o valor da prestação? Da taxa efetiva de juros? Do valor do financiamento? Da
    quantidade de meses?
  </p>

  <p>
    Após escolher, preencha as informações solicitadas e clique em calcular. O resultado
    mostrará o valor a Vista e/ou o Desconto.
  </p>

  <p>
    Faça a sua escolha de acordo com suas possibilidades!!!
  </p>
</div>